fastapi
uvicorn
langchain
ipykernel
python-dotenv
langchain_community
chromadb
langchain-chroma
duckdb
pysqlite3-binary
pypdf
bs4
arxiv
langchain-text-splitters
faiss-cpu
streamlit
langchain_core
langchain_groq
fastapi>=0.111.0
pydantic>=2.6
wikipedia
langchain_openai
langchain-huggingface
#langchain_community.document_loaders
#langchain_community.vectorstores
sentence-transformers
streamlit
duckduckgo-search
langchain-groq
langchain
python-dotenv
ipykernel
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
duckdb
pandas
openai
langchain-groq
duckduckgo_search==5.3.1b1
pymupdf
arxiv
wikipedia
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
chromadb
